<button
  *ngIf="dataLoaded == false"
  class="btn btn-primary"
  type="button"
  disabled
>
  <span
    class="spinner-border spinner-border-sm"
    role="status"
    aria-hidden="true"
  ></span>
  Loading..
</button>
<ul class="list-group">  
  <li
  *ngIf="dataLoaded == true"
  [class]="getAllCategoryClass()"
  routerLink="/products">
    Tüm Ürünler
  </li>
  <li
  (click)="setCurrentCategory(category)"
    routerLink="/products/category/{{ category.categoryId }}"
    *ngFor="let category of categories"
    [class]="getCurrentCategoryClass(category)"
  >
    {{ category.categoryName }}
  </li>

</ul>

<h5 *ngIf="currentCategory">{{ currentCategory.categoryName }} seçtiniz</h5>
